.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

@media only screen and (min-width: 600px) {
    .container {
        height: 50%;
        width: fit-content;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        height: 60%;
    }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    .container > img {
        display: none;
    }
}