.dropdown__container {
    position: absolute;
    overflow: hidden;
    border-radius: .5rem;
    width: 100%;
    box-shadow: 0 0 24px var(--gray);
    z-index: 2;
    background-color: white;
}

.dropdown {
    max-height: 35vh;
    list-style: none;
    overflow-y: auto;
    scrollbar-color: var(--gray) transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    margin: 0;
    padding-left: 0;
}

.dropdown__item {
    display: flex;
    align-items: center;
    padding: .25rem 0 .25rem 1rem;
}

.dropdown__item > span {
    max-height: 53px;
}

.dropdown__item:hover {
    background-color: var(--gray);
}

.dropdown__item:hover > p {
    text-decoration: underline;
}

.dropdown__item > p {
    margin-left: 1rem;
}

.placeholder {
    margin-left: calc(1rem + 53px) !important;
}