.header {
    position: fixed;
    display: flex;
    min-width: 100vw;
    justify-content: flex-start;
    background-color: var(--red);
    padding: .5rem;
    box-shadow: 0 0 24px black;
}

.header > a {
    height: fit-content;
}
