.pokemon__card {
    display: flex;
    background-color: var(--primary);
    outline: var(--primary) solid .1rem;
    border-radius: 1rem;
    padding: .5rem;
    width: fit-content;
    box-shadow: 0 0 24px black;
}

.pokemon__image {
    background-color: white !important;
}

.pokemon__sprites {
    display: flex;
    justify-content: space-around;
    background-color: white !important;
}

.pokemon__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.pokemon__type {
    color: white;
    padding: 0 .5rem .25rem .5rem;
    border-radius: .5rem;
    border-bottom: 2px solid black;
    font-weight: 600;

}

.normal {
    background-color: #A8A878;
    border-top-color: #D8D8D0;
    border-bottom-color: #705848;
}

.fire {
    background-color: #F08030;
    border-top-color: #F8D030;
    border-bottom-color: #C03028;
}

.water {
    background-color: #6890F0;
    border-top-color: #98D8D8;
    border-bottom-color: #807870;
}

.grass {
    background-color: #78C850;
    border-top-color: #C0F860;
    border-bottom-color: #588040;
}

.electric {
    background-color: #F8D030;
    border-top-color: #F8F878;
    border-bottom-color: #B8A038;
}

.ice {
    background-color: #98D8D8;
    border-top-color: #D0F8E8;
    border-bottom-color: #9090A0;
}

.fighting {
    background-color: #C03028;
    border-top-color: #F08030;
    border-bottom-color: #484038;
}

.ground {
    background-color: #E0C068;
    border-top-color: #F8F878;
    border-bottom-color: #886830;
}

.flying {
    background-color: #A890F0;
    border-top-color: #C8C0F8;
    border-bottom-color: #705898;
}

.bug {
    background-color: #A8B820;
    border-top-color: #D8E030;
    border-bottom-color: #A8B820;
}

.rock {
    background-color: #B8A038;
    border-top-color: #E0C068;
    border-bottom-color: #886830;
}

.ghost {
    background-color: #705898;
    border-top-color: #A890F0;
    border-bottom-color: #483850;
}

.dark {
    background-color: #705848;
    border-top-color: #A8A878;
    border-bottom-color: #484038;
}

.dragon {
    background-color: #7038F8;
    border-top-color: #B8A0F8;
    border-bottom-color: #483890;
}

.steel {
    background-color: #B8B8D0;
    border-top-color: #D8D8C0;
    border-bottom-color: #807870;
}

.fairy {
    background-color: #F0B6BC;
    border-top-color: #F5CAD1;
    border-bottom-color: #905F63;
}

.psychic {
    background-color: #F85888;
    border-top-color: #F8C0B0;
    border-bottom-color: #789010;
}

.poison {
    background-color: #A040A0;
    border-top-color: #D880B8;
    border-bottom-color: #483850;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
    .pokemon__card {
        flex-direction: column;
        margin: calc(var(--header-height) + 2rem) auto 0 auto;
    }

    .pokemon__image {
        border-radius: 1rem 1rem 0 0;
        border-top: var(--gray) solid 3px;
        padding: .5rem;
    }

    .pokemon__sprites {
        border-radius: 0 0 1rem 1rem;
        border-bottom: var(--gray) solid 3px;
        border-top: var(--primary) solid 2px;
        padding: .25rem;
    }

    .pokemon__list {
        margin: 1rem 0 0 0;
    }
}