.search {
    display: flex;
    background-color: white;
    margin: auto;
}

.search:focus-within {
    outline: 2px solid var(--yellow);
}

.search>input {
    border: none;
}

.search>input:focus {
    outline: none;
}

@media only screen and (min-width: 600px) {
    .search {
        padding: 1rem;
        border-radius: 1rem;
        margin-top: 1rem;
    }

    .search>input {
        margin-left: 1rem;
        font-size: 2rem;
    }

    .cover {
        margin-top: 5rem;
    }
}